@import "@catppuccin/palette/style";

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--ctp-frappe-mantle);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 768px;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board__row {
    display: flex;
    opacity: 0.9;
    transform: scale(0.8);
    transition: transform 0.2s ease;
}

.board__row.board__row--active {
    transform: scale(1);
    opacity: 1;
}

.board__row.board__row--active .board__tile.empty:first-of-type,
.board__row.board__row--active .board__tile.filled + .board__tile.empty {
    outline: 2px solid var(--ctp-frappe-text);
}

.board__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.2rem;
    width: 7rem;
    height: 7rem;
    outline: 1px solid var(--ctp-frappe-surface0);
    background-color: var(--ctp-frappe-base);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--ctp--frappe-green);
    border-radius: 10px;
}

.board__tile.wrong,
.board__tile.filled {
    background-color: var(--ctp-frappe-surface);
    color: var(--ctp-frappe-text);
}

.board__tile.correct,
.board__tile.partial {
    background-color: var(--ctp-frappe-mantle);
}

.board__tile.correct {
    background-color: var(--ctp-frappe-green);
}

.board__tile.partial {
    background-color: var(--ctp-frappe-yellow);
}

.message {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.15s ease-in-out,
        opacity 0.2s ease-in-out;
    color: var(--ctp-frappe-peach);
    font-size: 1.3rem;
}

.message:empty {
    transform: scale(0);
    opacity: 0;
    height: 40px;
}

.message--large {
    font-size: 2rem;
}

.keyboard {
    margin: 0 auto;
    width: 100%;
}

.keyboard__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard__key {
    background-color: var(--ctp-frappe-subtext1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    height: 2em;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 3px;
    text-transform: uppercase;
}

.keyboard__key.wrong,
.keyboard__key.filled {
    background-color: var(--ctp-frappe-overlay0);
    color: var(--ctp-frappe-text);
}

.keyboard__key.correct {
    background-color: var(--ctp-frappe-green);
}

.keyboard__key.partial {
    background-color: var(--ctp-frappe-yellow);
}
